BODY{
	margin-left : 0px;
	margin-right : 0px;
	margin-top : 0px;
	margin-bottom : 0px;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
	background-color : #193544;
	background-position : center;
	background-repeat : repeat-y;
}
.menuOption{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color: #818181;
}

.menuOption A{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color: #c9c9c9;
	text-decoration: none;

}

.menuOption A:visited{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	color: #c9c9c9;
	text-decoration: none;

}

.menuOption A:hover{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 13px;
	font-weight : bold;
	text-decoration: none;
}

.sectionHeading{
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	color:#489fcd;
	padding-left:0px;
	padding-top:10px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	line-height:25px;
	width:670px;
	align:left;
	padding-left: 0px;
}

.mainPad{
	padding-top: 6px;
}
.mainColor{
	background-color : White;
}
.mainLogoPad{
	padding-left: 13px;
	padding-right: 65px;
	padding-top: 12px;
	padding-bottom: 18px;
}
.mainNavPad{
	padding-left: 14px;
	padding-right: 24px;
}
.mainNavIcon{
	padding-left: 10px;
	padding-right: 5px;
}
.mainCrumbIcon{
	padding-left: 3px;
	padding-right: 3px;
}
.mainNavText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #2F3B4A;
}
a.mainNavText {
	font-family : Arial, Helvetica, sans-serif;
	color: #2F3B4A;
	font-size : 12px;
	text-decoration : none;
}
a.mainNavText:active {
	font-family : Arial, Helvetica, sans-serif;
	color: #2F3B4A;
	font-size : 12px;
	text-decoration : none;}
a.mainNavText:visited {
	font-family : Arial, Helvetica, sans-serif;
	color: #2F3B4A;
	font-size : 12px;
	text-decoration : none;}
a.mainNavText:hover {
	font-family : Arial, Helvetica, sans-serif;
	color: #F26122;
	font-size : 12px;
	text-decoration : none;}

.mainbodyPad{
	padding-top: 2px;
	padding-bottom: 5px;
	padding-left: 27px;
	padding-right: 35px;
}

.breadCrumbText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #F26122;
}
a.breadCrumbText {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #F26122;
	text-decoration : underline;
}
a.breadCrumbText:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #F26122;
	text-decoration : none;}
a.breadCrumbText:visited {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #F26122;
	text-decoration : underline;}
a.breadCrumbText:hover {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #F26122;
	text-decoration : none;}

.headerTextPad{
	padding-left: 6px;
}
.headerText{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #FFFFFF;
	font-weight : bold;
}
a.headerText {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #FFFFFF;
	text-decoration : underline;
}
a.headerText:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #FFFFFF;
	text-decoration : none;}
a.headerText:visited {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #FFFFFF;
	text-decoration : underline;}
a.headerText:hover {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	font-weight : bold;
	color: #FFFFFF;
	text-decoration : none;}



.contentBodyArea{
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 15px;
	padding-bottom: 20px;
	float: none;
}
.contentContextArea{
	padding-left: 18px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 20px;
	float: none;
}
.itemName {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	width: 100%;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left:3px;
	color: #333333;
}
.itemList {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 5px;
	color: #2F3B4A;
}
.fieldSelecta{
	background-color : #F2F2F2;
	font-family : Arial, Helvetica, sans-serif;
	font-size : 12px;
	color: #506584;
	font-weight: bold;
}

.mainbodyAbsolute{
	width: 741px;
}


.mainLoginInput{
	height:18px;
	width:80px;
	font-size : 10px;
	font-weight : normal;
	color : Black;
}
.fieldBreaker{
	margin-top:4px;
}
.nameFieldInput{
	height:22px;
	width:210px;
	font-size : 11px;
	font-weight : normal;
	color : Black;
	margin-bottom: 10px;
	border : 1px solid #7991B3;
}

.descrFieldInput{
	height:140px;
	width:650px;
	font-size : 11px;
	font-weight : normal;
	color : Black;
	margin-bottom: 10px;
	border : 1px solid #7991B3;
}



.rightPad{
	padding-left: 7px;
	padding-right: 11px;
	padding-top: 8px;
	padding-bottom: 4px;
}
.mainPad{
	padding-right: 11px;
	padding-top: 8px;
	padding-bottom: 4px;
}
.centerPad{
	padding-top: 8px;
}


TABLE{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
TD{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
H1{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color: #7991B3;
	font-size : 14px;
	font-weight : bold;
	margin-bottom : 10px;
	margin-left : 3px;
}

H2{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 16px;
	color: #6D3338;
	font-weight : bold;

}
H3{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	color: #818181;
	font-weight : bold;
	line-height: 10px;
	margin-bottom : 3px;
}
H4{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
H5{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
H6{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
a{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #407b9d;
	text-decoration : underline;
}
a:active {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #407b9d;
	text-decoration : underline;
	}
a:visited {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #407b9d;
	text-decoration : underline;
}
a:hover {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #FF6600;
	text-decoration : none;
}

P{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
ol{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
ul{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
li{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : normal;
	color: #818181;
}
.Divideline{
	border-bottom:1px solid #E5E5E5;
	padding-top: 7px;
}
.imageStyle{
	border : 1px solid #FA6A0B;
}
.imageRight{
	float: right;
	padding-left: 6px;
	padding-right: 8px;
	padding-bottom: 6px;
	padding-top: 6px;
}
.imageLeft{
	float: left;
	padding-left: 2px;
	padding-right: 2px;
	padding-bottom:2px;
	padding-top: 2px;
}
.moduleTextPad{
	padding-left: 6px;
}
.moduleButton{
	float: right;
	padding-left: 2px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-top: 10px;
}
.linkListPad{
	padding-top : 7px;
	padding-bottom : 7px;
}
.slideMenu{
	margin-top : 1px;
	margin-bottom : 1px;
	background-color: #F2F2F2;
	border : 1px solid #E5E5E5;
	width: 153px;
	padding-bottom : 4px;
	padding-left : 4px;
	padding-right : 4px;
	padding-top : 4px;

}
.slideMenuText{
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color: #7991B3;
	text-decoration:none;
}
a.slideMenuText {
	font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color: #7991B3;
	text-decoration : none;
}
a.slideMenuText:active {
		font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color: #7991B3;
	text-decoration : none;}
a.slideMenuText:visited {
		font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color: #7991B3;
	text-decoration : none;}
a.slideMenuText:hover {
		font-family : Arial, Helvetica, sans-serif;
	font-size : 11px;
	font-weight : bold;
	color: #7991B3;
	text-decoration : none;
}

#oLink {
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}

#bLink {
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#FFFFFF;
	text-align:center;
}

#gLink {
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#489fcd;
	text-align:center;
}

#qLink {
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	color:#489fcd;
	text-align:center;
}

#header1a {
	font-family:Arial;
	font-size:18px;
	font-weight:bold;
	color:#489fcd;
	padding-left:5px;
	padding-top:10px;
	border-bottom-style:dashed;
	border-bottom-width:1px;
	line-height:25px;
	width:670px;
	align:left;
	padding-left: 30px;
}

#header1b {
	font-family:Verdana;
	font-size:12px;
	color:#6b6b6b;
	font-weight:normal;
}

#nav {
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#6b6b6b;
	text-decoration:none;
	padding-left:10px;
}

#nav:active {
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#eaa727;
	text-decoration:none;
	padding-left:10px;
}

#nav:hover {
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	color:#333333;
	text-decoration:none;
	padding-left:10px;
}

#contentText {
	font-size:13px;
	font-family:Verdana;
	color:#000000;
}

#contentText2 {
	font-family:Verdana;
	font-size:12px;
	font-weight:bold;
	color:#FFFFFF;
	padding-left:23px;
}

#contentText3 {
	font-family:Verdana;
	font-size:12px;
	font-weight:normal;
	color:#000000;
	padding-left:23px;
	text-decoration:none;
}

#contentText4 {
	border-bottom:solid 1px #c7c7c7;
	font-family:Verdana;
	font-size:12px;
	color:#6b6b6b;
	padding-left:10px;
}

#contentText5 {
	font-family:Verdana;
	font-size:12px;
	color:#6b6b6b;
	padding-left:10px;
}
